{% extends 'base.html' %}

{% set styles = "/static/css/roster_styles.css" %}
{% block title %}Roster{% endblock %}
{% block content %}
<div class="all-tables">
    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th class="sd-header fixed-width">SMACKDOWN</th>
                    <th class="raw-header fixed-width">RAW</th>
                    <th class="nxt-header fixed-width">NXT</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in final_roster_list %}
                <tr>
                    <td class="smackdown {{'champ' if entry['SmackDown'] in champions_list}}">{{entry["SmackDown"]}}
                    </td>
                    <td class="raw {{'champ' if entry['RAW'] in champions_list}}">{{entry["RAW"]}}</td>
                    <td class="nxt {{'champ' if entry['NXT'] in champions_list}}">{{entry["NXT"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th colspan="2" class="sd-header">SMACKDOWN CHAMPIONSHIPS</th>
                </tr>
            <tbody class="sd-roster-titles">
                <tr>
                    <td class="fixed-width">Undisputed WWE Championship</td>
                    <td>{{active_titles_dict["WWE Championship"]}}</td>
                </tr>
                <tr>
                    <td>Intercontinental Championship</td>
                    <td>{{active_titles_dict["Intercontinental Championship"]}}</td>
                </tr>
                <tr>
                    <td>WWE Tag Team Championship</td>
                    <td>
                        {{active_titles_dict["WWE Tag Team Championship"][0]}}
                        &
                        {{active_titles_dict["WWE Tag Team Championship"][1]}}
                    </td>
                </tr>
                <tr>
                    <td>WWE Women's Championship</td>
                    <td>{{active_titles_dict["WWE Women's Championship"]}}</td>
                </tr>
                <tr>
                    <td>Women's Tag Team Championship</td>
                    <td>
                        {{active_titles_dict["Women's Tag Team Championship"][0]}}
                        &
                        {{active_titles_dict["Women's Tag Team Championship"][1]}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="grid-table">
            <thead>
                <tr>
                    <th colspan="2" class="raw-header">RAW CHAMPIONSHIPS</th>
                </tr>
            <tbody class="raw-roster-titles">
                <tr>
                    <td class="fixed-width" style="font-weight: bold;">WWE World Heavyweight Championship</td>
                    <td>{{active_titles_dict["WWE World Heavyweight Championship"]}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">United States Championship</td>
                    <td>{{active_titles_dict["United States Championship"]}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">WWE World Tag Team Championship</td>
                    <td>{{active_titles_dict["WWE World Tag Team Championship"][0]}}
                        &
                        {{active_titles_dict["WWE World Tag Team Championship"][1]}}
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Women's World Champion</td>
                    <td>{{active_titles_dict["Women's World Championship"]}}</td>
                </tr>
                <tr>
                    <td>Women's Tag Team Championship</td>
                    <td>
                        {{active_titles_dict["Women's Tag Team Championship"][0]}}
                        &
                        {{active_titles_dict["Women's Tag Team Championship"][1]}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="grid-table">
            <thead>
                <tr>
                    <th colspan="2" class="nxt-header">NXT CHAMPIONSHIPS</th>
                </tr>
            <tbody class="nxt-roster-titles">
                <tr>
                    <td class="fixed-width" style="font-weight: bold;">NXT Championship</td>
                    <td>{{active_titles_dict["NXT Championship"]}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">NXT North American Championship</td>
                    <td>{{active_titles_dict["NXT North American Championship"]}}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">NXT Tag Team Championship</td>
                    <td>
                        {{active_titles_dict["NXT Tag Team Championship"][0]}}
                        &
                        {{active_titles_dict["NXT Tag Team Championship"][1]}}
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">NXT Women's Champion</td>
                    <td>{{active_titles_dict["NXT Women's Championship"]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}