.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    background-image: url("/images/dark-background.jpg");
    background-repeat: no-repeat;
}

.history_table {
    width: 75%;
    border-collapse: collapse;
    background-color: rgb(47, 47, 47);
    margin-top: 50px;
}

.history_table th,
.history_table td {
    border: 2px solid #00000095;
    padding: 10px;
}

.history_table th {
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.history_table td {
    font-family: Arial, Helvetica, sans-serif;
}

.historyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}