.champspage_subtitle {
    text-align: left;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

h1.champspage_subtitle {
    color: #b1b0b0;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cards_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    width: 100%;
}