{% extends 'base.html' %}

{% set styles = "/static/css/championship_styles.css" %}
{% block title %}Intercontinental Championship{% endblock %}
{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="championship-title">
    <img src="/static/images/championship/intercontinental-championship/intercontinental-championship-design.png"
        style="width:400px">
    <span>INTERCONTINENTAL CHAMPIONSHIP</span>
</div>
<div class="championship-hero-footer">
    <div>
        <p class="championship-holder">Championship Holder</p>
        <p class="championship-holder-name">Luis Mira</p>
    </div>
    <div>
        <p class="championship-holder">Time Held</p>
        <p class="championship-holder-name">??? days</p>
    </div>
</div>
<div class="championship-tables">
    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Times Earned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kevin</td>
                    <td>11x</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Barbosa</td>
                    <td>10x</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Daniel Facine</td>
                    <td>9x</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Top Reigns</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Combined Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="stats-table">
    <table class="grid-table">
        <thead>
            <tr>
                <th colspan="2">RANDOM INFORMATION & STATS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FOUNDED</td>
                <td>???</td>
            </tr>
            <tr>
                <td>INAUGURAL MATCH</td>
                <td>Carlos vs. Vera</td>
            </tr>
            <tr>
                <td>INAUGURAL CHAMPION</td>
                <td>Carlos</td>
            </tr>
            <tr>
                <td>FIRST PPV APPEARANCE</td>
                <td>???</td>
            </tr>
            <tr>
                <td>FIRST PPV DEFENSE</td>
                <td>???</td>
            </tr>
            <tr>
                <td>BRANDS DEFENDED ON</td>
                <td>RAW, SmackDown!, PPV</td>
            </tr>
            <tr>
                <td>FEMALE CHAMPIONS</td>
                <td>Vera, Claudia, Ana Catarina, Daniela Lopes, Daniela, Sara Vedor, Ana Rita, Cláudia Bradstone
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/intercontinental-championship/history">Intercontinental
                        Championship History</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/championship/intercontinental-championship/history/reigns.html">Reigns</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/championship/intercontinental-championship/history/combined_days.html">Combined
                        Days</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/championship/intercontinental-championship/history/belt_records.html">Belt
                        Records</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="grid-table">
        <thead>
            <tr>
                <th>OTHER DESIGNATIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Intercontinental Championship (2008-Present)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="championship-display-footer belts">
    <div>
        <img src="/static/images/championship/intercontinental-championship/intercontinental-championship-2008-2013.png"
            style="margin-top: 25px;">
        <p class="old-belts" style="margin-top: 30px;">Intercontinental Championship (2008-2013)</p>
    </div>
    <div>
        <img
            src="/static/images/championship/intercontinental-championship/intercontinental-championship-2014-2019.png">
        <p class="old-belts">Intercontinental Championship (2014-2019)</p>
    </div>
</div>
{% endblock %}