{% extends 'base.html' %}

{% set styles = "/static/css/championship_styles.css" %}
{% block title %}Women's World Championship{% endblock %}
{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="championship-title">
    <img src="/static/images/championship/womens-world-championship/womens-world-championship-design.png"
        style="width:400px">
    <span>WOMEN'S WORLD CHAMPIONSHIP</span>
</div>
<div class="championship-hero-footer">
    <div>
        <p class="championship-holder">Championship Holder</p>
        <p class="championship-holder-name">Cláudia Bradstone</p>
    </div>
    <div>
        <p class="championship-holder">Time Held</p>
        <p class="championship-holder-name">??? days</p>
    </div>
</div>
<div class="championship-tables">
    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Times Earned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Carlota</td>
                    <td>8x</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Raquel</td>
                    <td>6x</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Rebeca Facine</td>
                    <td>4x</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Top Reigns</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mónica Ferreira</td>
                    <td>305 days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cláudia Bradstone</td>
                    <td>304 days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vanessa</td>
                    <td>279 days</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Combined Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Carlota</td>
                    <td>968 days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Vanessa</td>
                    <td>490 days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ana Rita</td>
                    <td>427 days</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="stats-table">
    <table class="grid-table">
        <thead>
            <tr>
                <th colspan="2">RANDOM INFORMATION & STATS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FOUNDED</td>
                <td>WrestleMania 8</td>
            </tr>
            <tr>
                <td>INAUGURAL MATCH</td>
                <td>Bianca vs. Ana Rita</td>
            </tr>
            <tr>
                <td>INAUGURAL CHAMPION</td>
                <td>Ana Rita</td>
            </tr>
            <tr>
                <td>FIRST PPV APPEARANCE</td>
                <td>WrestleMania 8</td>
            </tr>
            <tr>
                <td>FIRST PPV DEFENSE</td>
                <td>Ana Rita (c) vs. Bianca - ???</td>
            </tr>
            <tr>
                <td>BRANDS DEFENDED ON</td>
                <td>RAW, SmackDown!, PPV</td>
            </tr>
            <td colspan="2" style="text-align: center;">
                <a href="/title/womens-world-championship/history">Women's
                    World Championship History</a>
            </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/womens-world-championship/history/reigns.html">Reigns</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/womens-world-championship/history/combined_days.html">Combined
                        Days</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/womens-world-championship/history/belt_records.html">Belt
                        Records</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="grid-table">
        <thead>
            <tr>
                <th>OTHER DESIGNATIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SmackDown Women's Championship (2016-2023)</td>
            </tr>
            <tr>
                <td>Women's World Championship (2023-Present)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="championship-display-footer belts">
    <div>
        <img src="/static/images/championship/womens-world-championship/smackdown-womens-championship-design-2016-2023.png"
            style="margin-top: 25px;">
        <p class="old-belts" style="margin-top: 30px;">SmackDown Women's Championship (2016-2023)</p>
    </div>
</div>
{% endblock %}