{% extends 'base.html' %}

{% set styles = "/static/css/championship_styles.css" %}
{% block title %}WWE Speed Women's Championship{% endblock %}
{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="championship-title">
    <img src="/static/images/championship/wwe-speed-championship/wwe-speed-championship-design.png" style="width:400px">
    <span>WWE SPEED WOMEN'S CHAMPIONSHIP</span>
</div>
<div class="championship-hero-footer">
    <div>
        <p class="championship-holder">Championship Holder</p>
        <p class="championship-holder-name">???</p>
    </div>
    <div>
        <p class="championship-holder">Time Held</p>
        <p class="championship-holder-name">??? days</p>
    </div>
</div>
<div class="championship-tables">
    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Times Earned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bebo</td>
                    <td>???</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>???</td>
                    <td>???</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>???</td>
                    <td>???</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Top Reigns</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Combined Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>bebo</td>
                    <td>??? days</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="stats-table">
    <table class="grid-table">
        <thead>
            <tr>
                <th colspan="2">RANDOM INFORMATION & STATS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FOUNDED</td>
                <td>???</td>
            </tr>
            <tr>
                <td>INAUGURAL MATCH</td>
                <td>???</td>
            </tr>
            <tr>
                <td>INAUGURAL CHAMPION</td>
                <td>???</td>
            </tr>
            <tr>
                <td>FIRST PPV APPEARANCE</td>
                <td>???</td>
            </tr>
            <tr>
                <td>FIRST PPV DEFENSE</td>
                <td>???</td>
            </tr>
            <tr>
                <td>BRANDS DEFENDED ON</td>
                <td>WWE Speed</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/wwe-speed-womens-championship/history">WWE Speed Women's Championship History</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title-history/championship/wwe-speed-womens-championship/history/reigns.html">Reigns</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title-history/wwe-speed-womens-championship/history/combined_days.html">Combined
                        Days</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title-history/wwe-speed-womens-championship/history/belt_records.html">Belt
                        Records</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="grid-table">
        <thead>
            <tr>
                <th>OTHER DESIGNATIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>WWE Speed Women's Championship (2024-Present)</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}