{% extends 'base.html' %}

{% set styles = "/static/css/championship_styles.css" %}
{% block title %}WWE World Heavyweight Championship{% endblock %}
{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="championship-title">
    <img src="/static/images/championship/wwe-world-heavyweight-championship/wwe-world-heavyweight-championship-design.png"
        style="width:400px">
    <span style="font-size: smaller;">WWE WORLD HEAVYWEIGHT CHAMPIONSHIP</span>
</div>
<div class="championship-hero-footer">
    <div>
        <p class="championship-holder">Championship Holder</p>
        <p class="championship-holder-name">Leo Rossi</p>
    </div>
    <div>
        <p class="championship-holder">Time Held</p>
        <p class="championship-holder-name">??? days</p>
    </div>
</div>
<div class="championship-tables">
    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Times Earned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Andy Hendrix</td>
                    <td>1x</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kevin</td>
                    <td>1x</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nelson Pereira</td>
                    <td>1x</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Top Reigns</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kevin</td>
                    <td>152 days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nelson Pereira</td>
                    <td>123 days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Andy Hendrix</td>
                    <td>61 days</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="grid-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Champion Name</th>
                    <th>Combined Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kevin</td>
                    <td>152 days</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nelson Pereira</td>
                    <td>123 days</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Andy Hendrix</td>
                    <td>61 days</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="stats-table">
    <table class="grid-table">
        <thead>
            <tr>
                <th colspan="2">RANDOM INFORMATION & STATS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FOUNDED</td>
                <td>Night of Champions 1 (Season 6)</td>
            </tr>
            <tr>
                <td>INAUGURAL MATCH</td>
                <td>Andy Hendrix vs. Leo Rossi</td>
            </tr>
            <tr>
                <td>INAUGURAL CHAMPION</td>
                <td>Andy Hendrix</td>
            </tr>
            <tr>
                <td>FIRST PPV APPEARANCE</td>
                <td>Night of Champions 1 (Season 6)</td>
            </tr>
            <tr>
                <td>FIRST PPV DEFENSE</td>
                <td>Andy Hendrix (c) vs. Zuko vs. Daniel Facine - Urban Throwdown 1</td>
            </tr>
            <tr>
                <td>BRANDS DEFENDED ON</td>
                <td>RAW, PPV</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/wwe-world-heavyweight-championship/history">WWE
                        World Heavyweight Championship History</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/wwe-world-heavyweight-championship/history/reigns.html">Reigns</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/wwe-world-heavyweight-championship/history/combined_days.html">Combined
                        Days</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <a href="/title/wwe-world-heavyweight-championship/history/belt_records.html">Belt
                        Records</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="grid-table">
        <thead>
            <tr>
                <th>OTHER DESIGNATIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>WWE World Heavyweight Championship (2023-Present)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="championship-display-footer belts">
</div>
{% endblock %}