.rosterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.gridtable {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 30px;
}

.gridtable th,
.gridtable td {
    padding: 8px;
    text-align: left;
}

.gridtable th {
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gridtable td {
    background-color: rgb(0, 0, 0);
}

.sd_header {
    background-color: rgb(64, 64, 252);
    width: 300px;
    color: black;
}

.raw_header {
    background-color: red;
    width: 300px;
    color: black;
}

.nxt_header {
    background-color: rgb(255, 204, 0);
    width: 300px;
    color: black;
}

.smackdown {
    box-shadow: 0 0 5px 3px rgba(7, 58, 224, 0.5);
}

.raw {
    box-shadow: 0 0 5px 3px rgba(224, 7, 7, 0.5);
}

.nxt {
    box-shadow: 0 0 5px 3px rgba(224, 191, 7, 0.5);
}


.smackdown:hover {
    background-color: rgb(11, 90, 209);
}

.raw:hover {
    background-color: rgb(227, 120, 120);
}

.nxt:hover {
    background-color: rgb(207, 170, 109);
}