.rosterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}

.table_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.sd_header {
    background-color: rgb(64, 64, 252);
    width: 300px;
    color: black;
}

.raw_header {
    background-color: red;
    width: 300px;
    color: black;
}

.nxt_header {
    background-color: rgb(255, 204, 0);
    width: 300px;
    color: black;
}

.smackdown {
    box-shadow: 0 0 5px 3px rgba(7, 58, 224, 0.5);
}

.raw {
    box-shadow: 0 0 5px 3px rgba(224, 7, 7, 0.5);
}

.nxt {
    box-shadow: 0 0 5px 3px rgba(224, 191, 7, 0.5);
}


.smackdown:hover {
    background-color: rgb(11, 90, 209);
}

.raw:hover {
    background-color: rgb(227, 120, 120);
}

.nxt:hover {
    background-color: rgb(207, 170, 109);
}

/*SMACKDOWN ROSTER CHAMPIONSHIP TABLE*/
.sd_roster_titles tr td:first-child {
    font-weight: bold;
    background-color: black;
    box-shadow: 0 0 5px 3px rgba(7, 58, 224, 0.5);
}

.sd_roster_titles tr td:nth-child(2):hover {
    background-color: rgb(75, 136, 228);
}

.sd_roster_titles tr td:nth-child(2) {
    background-color: black;
    box-shadow: 0 0 5px 3px rgba(7, 58, 224, 0.5);
}

.champions_title {
    width: 60%;
    padding: 8px;
    text-align: left;
}

/*RAW ROSTER CHAMPIONSHIP TABLE*/
.raw_roster_titles tr td:first-child {
    font-weight: bold;
    background-color: black;
    box-shadow: 0 0 5px 3px rgba(224, 7, 7, 0.5);

}

.raw_roster_titles tr td:nth-child(2):hover {
    background-color: rgb(228, 75, 75);
}

.raw_roster_titles tr td:nth-child(2) {
    background-color: black;
    box-shadow: 0 0 5px 3px rgba(224, 7, 7, 0.5);
}

/*NXT ROSTER CHAMPIONSHIP TABLE*/
.nxt_roster_titles tr td:first-child {
    font-weight: bold;
    background-color: black;
    box-shadow: 0 0 5px 3px rgba(224, 191, 7, 0.5);
}

.nxt_roster_titles tr td:nth-child(2):hover {
    background-color: rgb(221, 196, 58);
}

.nxt_roster_titles tr td:nth-child(2) {
    background-color: black;
    box-shadow: 0 0 5px 3px rgba(224, 191, 7, 0.5);
}