{% extends 'base.html' %}

{% set styles = "/static/css/championship_styles.css" %}
{% block title %}WWE Women's Championship History{% endblock %}
{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}

<div class="championship-title">
    <img src="/static/images/championship/wwe-womens-championship/wwe-womens-championship-design.png"
        style="width:400px">
    <span style="font-size: smaller;">WWE WOMEN'S CHAMPIONSHIP HISTORY</span>
</div>
<div>
    <table class="championship-history-table">
        <thead class="championship-history-header">
            <tr>
                <th>RANK</th>
                <th>NAME</th>
                <th>BY DEFEATING</th>
                <th>MATCH</th>
                <th>REIGN DURATION</th>
            </tr>
        </thead>
        <tbody class="championship-history">
            {% for reign in history_data %}
            <tr>
                <td>{{reign['ID']}}</td>
                <td>{{reign['Champion Name']}}</td>
                <td>{{reign['By Defeating']}}</td>
                <td>{{reign['Match']}}</td>
                <td>{{reign['Reign']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}